{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}


  <form method="post" action="{% url 'login' %}" class="form">
    {% csrf_token %}
    <span class="form__title">Please login</span>
    <p class="form__content">Please enter your credentials to login.</p>
    <div class="form__form">
      {{ form.as_p }}
      {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
      {% endif %}
      <br>
      <button type="submit" value="Login" class="sign-up">Login</button>
    </div>
    <input type="hidden" name="next" value="{{ next }}"/>
  </form>


{% endblock %}
