body {
    height: 100vh;
}

.div_sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgb(32, 34, 39);
    padding: 2vh;
    border-right: 1px solid rgb(53, 56, 64);
    width: 11%;
}

.div_container {
    display: flex;
}


.div_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.div_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1vh;
}

.div_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 5vh;
    background-color: rgb(32, 34, 39);
}

.div_el_sidebar {
    color: rgb(234, 234, 235);
    text-decoration: none;
    margin: 0 3vh;
}


.button_home {
    color: rgb(234, 234, 235);
    background-color: rgb(226, 85, 68);
    border-radius: 3px;
    border: none;
}

.button_home a {
    color: rgb(234, 234, 235);
    text-decoration: none;
}

.button_home:hover {
    opacity: 30%
}

.button_git {
    color: rgb(234, 234, 235);
    background-color: rgb(0, 120, 60);
    border-radius: 3px;
    border: none;
}

.button_git a {
    color: rgb(234, 234, 235);
    text-decoration: none;
}

.button_git:hover {
    opacity: 30%
}


.sidebar_doc_text {
    font-size: 24px;
    color: rgb(234, 234, 235);
    text-decoration: none;
}

.sidebar_text {
    font-size: 20px;
    color: rgb(234, 234, 235);
    text-decoration: none;
}

.a_white {
    color: rgb(234, 234, 235);
    text-decoration: none;
}

.a_white:hover {
    color: rgb(234, 234, 235);
    text-decoration: none;
    opacity: 30%;
}

.a_dark {
    color: rgb(25, 26, 31);
    text-decoration: none;
}

.a_dark:hover {
    color: rgb(25, 26, 31);
    text-decoration: none;
    opacity: 30%;
}

.text_base {
    color: rgb(234, 234, 235);
    font-size: 24px;
}

.div_row {
    display: flex;
    text-align: center;
    flex-direction: row;
    padding: 2px;
}

.div_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 3vh;
    background-color: rgb(25, 26, 31);
    margin: 0 10px;
    width: 33%;
}

.div_card:first-child {
    margin-left: 0;
}

.div_card:last-child {
    margin-right: 0;
}

.div_center {
    display: block;
    flex-direction: column;
    text-align: center;
}

.button_base {
    color: rgb(25, 26, 31);
    background-color: rgb(234, 234, 235);
    border-radius: 3px;
    border: none;

}

.button_base a {
    color: rgb(25, 26, 31);
    text-decoration: none;
}

.button_base:hover {
    opacity: 30%;
}


.card_profile {
    padding: 3vh;
    background: rgb(234, 234, 235);
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition-duration: .5s;
}

.profileImage {
    background: linear-gradient(to right, rgb(54, 54, 54), rgb(32, 32, 32));
    margin-top: 20px;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.329);
}

.textContainer {
    width: 100%;
    text-align: left;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name {
    font-size: 0.9em;
    font-weight: 600;
    color: white;
    letter-spacing: 0.5px;
}

.profile {
    font-size: 0.84em;
    color: rgb(194, 194, 194);
    letter-spacing: 0.2px;
}

.card_profile:hover {
    background-color: rgb(43, 43, 43);
    transition-duration: .5s;
}


.button_add {
    color: rgb(234, 234, 235);
    background-color: rgb(0, 120, 60);
    border-radius: 3px;
    border: none;

}

.button_add a {
    color: rgb(234, 234, 235);
    text-decoration: none;
}

.button_add:hover {
    opacity: 30%;
}

.button_update {
    color: rgb(234, 234, 235);
    background-color: rgb(52, 51, 72);
    border-radius: 3px;
    border: none;

}

.button_update a {
    color: rgb(234, 234, 235);
    text-decoration: none;
}

.button_update:hover {
    opacity: 30%;
}


.button_delete {
    color: rgb(234, 234, 235);
    background-color: rgb(226, 85, 68);
    border-radius: 3px;
    border: none;

}

.button_delete a {
    color: rgb(234, 234, 235);
    text-decoration: none;
}

.button_delete:hover {
    opacity: 30%;
}

.button_input {
    color: rgb(25, 26, 31);
    background-color: rgb(234, 234, 235);
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 24px;

}

.button_input:hover {
    opacity: 30%;
}

.paginate_data {
    color: rgb(25, 26, 31);
    background-color: rgb(234, 234, 235);
    border-radius: 3px;
    border: none;
}