{% if user.is_authenticated %}
  <div class="col-auto">
    <button type="button" class="btn btn-success">User: {{ user.username }}</button>
  </div>
  <div class="col-auto">
    <button type="button" class="btn btn-primary"><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></button>
  </div>

{% else %}
  <div class="col-auto">
    <button type="button" class="btn btn-primary"><a href="{% url 'login'%}?next={{request.path}}">Login</a></button>
  </div>
{% endif %}

<br>

<div class="col-auto">
  <button type="button" class="btn btn-secondary"><a href="{% url 'catalog:index' %}">Home</a></button>
</div>
<div class="col-auto">
  <button type="button" class="btn btn-secondary"><a href="{% url 'catalog:topic-list' %}">Topics</a></button>
</div>
<div class="col-auto">
  <button type="button" class="btn btn-secondary"><a href="{% url 'catalog:redactor-list' %}">Redactors</a></button>
</div>
<div class="col-auto">
  <button type="button" class="btn btn-secondary"><a href="{% url 'catalog:newspaper-list'%}">Newspapers</a></button>
</div>