{% extends "base.html" %}
{% block content %}
  <h1 class="text_base" style="font-size: 36px">
    {% block text %}

    {% endblock text %}
  </h1>
  <br>
  <button class="button_base">
    <a href="{% block create_link %}{% endblock create_link %}">
      <h1 class="text_base" style="font-size: 24px;color: rgb(25, 26, 31)" ><b>Create</b></h1>
    </a>
  </button>

  {% include "includes/search_form.html" %}
  <div style="width: 150vh;  align-items: flex-start;">
    {% block table %}
    {% endblock table %}
  </div>
  <br>
{% endblock %}
