{% extends "base.html" %}
{#{% load crispy_forms_filters %}#}

{% block content %}
  <div>
    <h1>
      All newspaper on website
      <a href="{% url 'catalog:newspaper-create' %}" class="btn btn-primary link-to-page btn-lg">
        Create
      </a>
    </h1>
  </div>

  <br>
    {% include "includes/search_form.html" %}
  {% if newspaper_list %}
    <table class="table">
      <tr>
        <th>Title</th>
        <th>Publication date</th>
        <th>Publisher</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      {% for newspaper in newspaper_list %}
        <tr>
          <td>
            <div class="div_for_row">
              <a href="{% url 'catalog:newspaper-detail' pk=newspaper.id %}" style="color: blue">
                <h5>🛈</h5>
              </a>
              <strong>{{ newspaper.title }}</strong>
            </div>
          </td>
          <td>
            <div class="div_for_row">
              {{ newspaper.pub_date }}
            </div>
          </td>
          <td>
            <div class="div_for_row">
              {{ newspaper.publisher }}
            </div>
          </td>
          <td>
            <div class="div_for_row">
              <a href="{% url 'catalog:newspaper-update' pk=newspaper.id %}"
                 class="btn btn-primary link-to-page">Update</a>
            </div>
          </td>
          <td>
            <div class="div_for_row">
              <a href="{% url 'catalog:newspaper-delete' pk=newspaper.id %}"
                 class="btn btn-danger link-to-page">Delete</a>
            </div>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no newspaper</p>
  {% endif %}

{% endblock %}
