{% extends "base.html" %}
{% block content %}
  {{ newspaper.model }}
  <div class="text_base">
    <div class="container_div">
      <div class="div_center">
        <button class="button_update">
          <a href="{% url 'catalog:newspaper-update' pk=newspaper.id %}" >
            Update
          </a>
        </button>
        <button class="button_delete" style="margin-left: 1vh">
          <a href="{% url 'catalog:newspaper-delete' pk=newspaper.id %}"  >
            Delete
          </a>
        </button>
      </div>
      <br>
      <p><strong>Title:</strong> {{ newspaper.title }}</p>
      <p><strong>Publish date:</strong> {{ newspaper.pub_date }}</p>
      <div class="div_row">
        <p style="margin-right: 1vh"><strong>Publisher: </strong></p>
        <a href="{% url 'catalog:redactor-detail' pk=newspaper.publisher.id %}" class="a_white">
           🛈 {{ newspaper.publisher.username }}
        </a>
      </div>
      <h3>Topics:</h3>
      <ul>
        {% for topic in newspaper.topics.all %}
          <li>{{ topic.name }}</li>
        {% endfor %}
      </ul>
      <br>
      <div style="width: 100vh">
        {{ newspaper.content }}
      </div>
    </div>
  </div>
{% endblock %}
