{% extends "base_list_view.html" %}
{% block text %}
  All newspaper on website
{% endblock text %}
{% block create_link %}
  {% url 'catalog:newspaper-create' %}
{% endblock create_link %}
{% block table %}
  {% if newspaper_list %}
    <table class="table">
      <tr>
        <th>
          <div class="div_for_row_center"><b>Title</b></div>
        </th>
        <th>
          <div class="div_for_row_center"><b>Publication date</b></div>
        </th>
        <th>
          <div class="div_for_row_center"><b>Publisher</b></div>
        </th>
        <th>
          <div class="div_for_row_center"><b>Update</b></div>
        </th>
        <th>
          <div class="div_for_row_center"><b>Delete</b></div>
        </th>
      </tr>
      {% for newspaper in newspaper_list %}
        <tr>
          <td>
            <div class="div_for_row">
              <a href="{% url 'catalog:newspaper-detail' pk=newspaper.id %}" class="a_black">
                <h5>🛈</h5>
              </a>
              <strong>{{ newspaper.title }}</strong>
            </div>
          </td>
          <td>
            <div class="div_for_row_center">
              {{ newspaper.pub_date }}
            </div>
          </td>
          <td>
            <div class="div_for_row_center">
              {{ newspaper.publisher }}
            </div>
          </td>
          <td>
            <div class="div_for_row_center">
              <a href="{% url 'catalog:newspaper-update' pk=newspaper.id %}"
                 class="button_for_menu">Update</a>
            </div>
          </td>
          <td>
            <div class="div_for_row_center">
              <a href="{% url 'catalog:newspaper-delete' pk=newspaper.id %}"
                 class="button_for_menu">Delete</a>
            </div>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no newspaper</p>
  {% endif %}
{% endblock table %}
