{% extends "base.html" %}

{% block content %}
  <div class="custom_div">
    <div class="container_div">
      {{ redactor.model }}
      <div class="div_for_row_center">
        <a href="{% url 'catalog:redactor-update' pk=redactor.id %}" class="button_for_menu">
          Update
        </a>
        <a href="{% url 'catalog:redactor-delete' pk=redactor.id %}" class="button_for_menu">
          Delete
        </a>
      </div>
      <br>

      <p><strong> Username:</strong> {{ redactor.username }}</p>
      <p><strong> First name:</strong> {{ redactor.first_name }}</p>
      <p><strong> Last name:</strong> {{ redactor.last_name }}</p>
      <h3>Newspapers:</h3>
      <hr>
      <ul>
        {% for newspaper in redactor.newspaper_set.all %}
          <li>
            <div class="div_for_row">
              <a href="{% url 'catalog:newspaper-detail' pk=newspaper.id %}" class="a_black">
                <h5>🛈</h5>
              </a>{{ newspaper.title }} ({{ newspaper.pub_date }})
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>


{% endblock %}
