{% extends "base_list_view.html" %}
{% block text %}
  All topics on our website
{% endblock text %}
{% block create_link %}
  {% url 'catalog:topic-create' %}
{% endblock create_link %}
{% block table %}
  {% if topic_list %}
    <table class="table" style="color: rgb(234, 234, 235); font-size: 24px;">
      <tr>
        <th>
          <div class="div_center"><b>Name</b></div>
        </th>
        <th>
          <div class="div_center"><b>Update</b></div>
        </th>
        <th>
          <div class="div_center"><b>Delete</b></div>
        </th>
      </tr>
      {% for topic in topic_list %}
        <tr>
          <td>
            <div class="div_center">
              <h5>{{ topic.name }}</h5>
            </div>
          </td>
          <td>
            <div class="div_center">
              <button class="button_update">
                <a href="{% url 'catalog:topic-update' pk=topic.id %}">Update</a>
              </button>
            </div>
          </td>
          <td>
            <div class="div_center">
              <button class="button_delete">
                <a href="{% url 'catalog:topic-delete' pk=topic.id %}">Delete</a>
              </button>
            </div>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no topics</p>
  {% endif %}
{% endblock table %}
