{% extends "base.html" %}
{#{% load crispy_forms_filters %}#}

{% block content %}
  <div style="padding-top: 5px">
    <h1>
      All topics on our website
      {#    <a href="{% url 'taxi:car-create' %}" class="btn btn-primary link-to-page">#}
      {#      Create#}
      {#    </a>#}
    </h1>
  </div>

  <br>
  {#  {% include "includes/search_form.html" %}#}
  {% if topic_list %}
    <ul class="list-group">
      {% for topic in topic_list %}
        <li class="list-group-item">
          {#          <a href="{% url "taxi:car-detail" pk=car.id %} ">{{ car.id }}</a>#}
          <h5>{{ topic.name }}</h5>
        </li>
        <br>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no topics</p>
  {% endif %}

{% endblock %}
