{% extends "base.html" %}
{#{% load crispy_forms_filters %}#}

{% block content %}
  <div>
    <h1>
      All topics on our website
          <a href="{% url 'catalog:topic-create' %}" class="btn btn-primary link-to-page btn-lg">
            Create
          </a>
    </h1>
  </div>

  <br>
  {#  {% include "includes/search_form.html" %}#}
  {% if topic_list %}
    <ul class="list-group">
      {% for topic in topic_list %}
        <li class="list-group-item">
          {#          <a href="{% url "taxi:car-detail" pk=car.id %} ">{{ car.id }}</a>#}
          <h5>{{ topic.name }}</h5>
        </li>
        <br>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no topics</p>
  {% endif %}

{% endblock %}
